.add-vacc-site-container {
    background-color:  #A7CDBD;
    height: 100vh;
    width: 100vw;
    padding: 10px;
}

.content table:not(:last-child) {
    margin-bottom: 1em;
  }

.content table td,
.content table th {
  border: 1px solid black;
  border-width: 0 0 1px;
  padding: 0.5em 0.75em;
  vertical-align: top;
}

.content table th {
  color: #363636;
}

.content table thead td,
.content table thead th {
  border-width: 0 0 2px;
  color: #363636;
}

.content table tfoot td,
.content table tfoot th {
  border-width: 2px 0 0;
  color: #363636;
}

.content table {
    margin-left: auto;
    margin-right: auto;
  
}

.vacc-site-form {
  background-color: #869D7A;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
  color: #2c2c2c;
  max-width: 75%;
  height:80vh;
  position: relative;
  left: 10vw;
  border-radius: 25px;
  /* padding: 10px; */
  /* margin: 10px; */
}

.vacc-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.vacc-left {
  grid-column-start: 1;
  grid-column-end: 2;
  width: 50%;
  height: 100%;
}

.vacc-right {
  grid-column-start: 2;
  grid-column-end: 3;
  width: 50%;
  height: 100%;
}

.vacc-site-submit-button {
  background-color: #91785D;
  padding: 6px 20px;
  border-radius: 10px;
  margin: 15px;
}

.input {
  border-radius: 4px;
}

@media screen and (max-width: 600px) {
  .vacc-grid {
    display: grid;
    grid-template-columns: 99% 1%;
    grid-template-rows: 50% 50%;
    position: relative;
    width: 100vw;
    height: 100vw;
  }
  .vacc-left {
    grid-column-start: 1;
    grid-row-start: 1;
    width: 50%;
    height: 100%;
    position: absolute;
    left: 13%;
  }
  .vacc-right {
    grid-column-start: 1;
    grid-row-start: 2;
    width: 50%;
    height: 100%;
    top: 99%;
    right: 37%;
    position: absolute;
  }
  .vacc-site-card {
    left: 5%;
  }
  .vacc-site-form {
    top: 99%;
    height: 125vh;
  }
  .vacc-site-submit-container {
    position: absolute;
    top: 115vh;
    right: 25vw;
  }
}