.comment-card{
    background-color: #b0d1e0;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0px 0 1px rgb(10 10 10 / 2%);
    color: #2c2c2c;
    max-width: 50%;
    position: relative;
    left: 25%;
    border-radius: 25px;
    padding: 5px;
    margin: 10px;
    /* margin-bottom:30px; */
}

.comment-user-container{
    /* background-color: rgb(161, 127, 127); */
    height: 25px;
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.comment-username{
    font-weight: bold;
}

.review-text-container{
    /* background-color:rgb(185, 131, 131); */
    min-height: 10px;
    /* margin-top: 15px; */
    margin-left: 20px;
    /* margin-bottom: 15px; */
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.vote-container{
    /* background-color:rgb(185, 131, 131); */
    height: 50px;
    /* margin-top: 15px; */
    margin-left: 20px;
    /* margin-bottom: 15px; */
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.vote-button{
    margin-right: 15px;
    height: 25px;
}
.downvote-button{
    margin-left: 30px;
}
.comment-container {
    background-color: rgba(210, 224, 211, 0.527);
    height: 100vh;
    width: 100vw;
}

.material-icons {
    border-radius: 2px;
    border: 1px solid black;
}