 .countyTH {
    text-align: center;
    background-color: #869D7A;
    border: 2px solid #91785D;
  }

  .countyTable {
    position: absolute;
    left: 25%;
    width: 50%;
    border: 2px solid #91785D;
    text-align: center;
    font-size: 20px;
  }

  .countyTD {
    background-color: #8fb8a6;
    border: 2px solid #91785D;
    padding: 7px;
  }

.county-container {
    /* background-color: #A7CDBD; */
    height: 120vh;
    width: 100vw;
}

html {
  background-color: #A7CDBD;
}

.form-container {
    grid-row-start: 1;
    grid-column-start: 2;
    padding: 35px 35px 15px 35px;
}

.table-container {
    grid-row-start: 2;
    grid-column-start: 2;
}

th, td {
    padding: 3px;
  }

  .county-submit {
    background-color: #869D7A;
    padding: 11px 6px;
    border-radius: 12px;
    margin: 15px;
  }
.dropdown {
  padding: 11px 26px;
  border-radius: 8px;
}