.home-container {
    background-color:  #A7CDBD;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    /* overflow-x: auto; */
    position: absolute;
}

.map {
    /* overflow-x: visible; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.map-container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    position: relative;
    padding-bottom: 56.25%;
    /* height: 40vh;
    width: 67vw; */
    overflow: hidden;
    max-width: 100%;
}

.top-ten-1 {
    grid-row-start: 2;
    grid-column-start: 1;
    overflow-x: auto;
}

.top-ten-2 {
    grid-row-start: 2;
    grid-column-start: 2;
    overflow-x: auto;
}

.top-ten-3 {
    grid-row-start: 2;
    grid-column-start: 3;
    overflow-x: auto;
}
