
.home-container {
    background-color: #A7CDBD;
    height: 100%;
    width: 100vw;
    display: flex;
<<<<<<< HEAD
    grid-template-rows: 60% 40%;
=======
    flex-direction:column;
>>>>>>> 4ba5abbd3eca2a1de2f29b0d18e335a48255da48
    position: relative;
    /* overflow: visible; */
    padding-top: 5px;
}

.map {
    position: absolute;
    top: 1vh;
    left: 12vw;
    width: 75%;
    height: 100%;
    max-width: 1024px;
 
    margin: 0 auto;
    /* padding-bottom: 10vw; */
}

.map-container {
    background-color: #A7CDBD;
    height: 40vh;
    width: 100vw;
    grid-row-start: 2;
    grid-row-end: 3;
    position: relative;
    padding-bottom: 41.25%;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}

.top-ten-container {
    position: relative;
    min-height: 450px;
    max-height: 1000px;
    width: 100vw;
    display: grid;
    overflow: visible;
    grid-template-rows: subgrid;
    grid-template-columns: 33% 34% 33%;
}

.top-ten-1 {
    grid-column-start: 1;
    position: absolute;
    width: 33vw;
    /* padding: 10px; */
}

.top-ten-2 {
    grid-column-start: 2;
    position: absolute;
    width: 34vw;
    /* padding: 10px; */
}

.top-ten-3 {
    grid-column-start: 3;
    position: absolute;
    width: 33vw;
    /* padding: 10px; */
}

.home-label {
    text-align: left;
    padding-left: 3vw;
}
