.individual-site-container {
    background-color: #A7CDBD;
    /* height: 100vh; */
    transform: translateY(-10px);
}



.card {
    background-color: #869D7A;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
    color: #2c2c2c;
    max-width: 30%;
    position: relative;
    left: 33.5%;
    border-radius: 25px;
    padding: 10px;
    margin: 5px;
    top: 2vh;
  }

  .comment-box {
    height: 70px; 
    width: 90%;
    text-align: left;
    border-radius: 10px;
    padding: 10px;

  }

.content table td,
.content table th {
  border: 1px solid #dbdbdb;
  border-width: 0 0 1px;
  padding: 0.5em 0.75em;
  vertical-align: top;
}

.site-submit-button {
  /* margin: 5px; */
}

.site-drop-down {
  padding: 5px;
  margin: 10px;
}