.login-container {
    background-color: #A7CDBD;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns:10% 35% 55%;
    grid-template-rows: 20% 20% 40% 20%;
}

.message {
    grid-column-start: 2;
    grid-row-start: 2;
}

.form-wrapper {
    grid-column-start: 3;
    grid-row-start: 2;
}

.footer {
    grid-column-start: 3;
    grid-row-start: 4;
}

.field {
    padding: 5px;
}


@media screen and (max-width: 600px) {
    .login-container {
        background-color: #A7CDBD;
        height: 100vh;
        width: 60vw;
        display: grid;
        align-items: center;
        margin: 0 auto;
        grid-template-columns: 50% 50%;
        grid-template-rows: 60% 40%;
    }
    .message {
        grid-column-start: 1;
        grid-row-start: 1;
        padding:0px;
        height: 100%;
        width: 100%;
    }
    .form-wrapper {
        grid-column-start: 2;
        grid-row-start: 1;
        overflow: hidden;
        padding:30px;
        height: 100%;
        width: 100%;
    }
    .field {
        padding: 1px;
    }
  }