.container {
    background-color: #A7CDBD;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns:10% 35% 55%;
    grid-template-rows: 20% 20% 40% 20%;
}

.message {
    grid-column-start: 2;
    grid-row-start: 2;
}

.form-wrapper {
    grid-column-start: 3;
    grid-row-start: 2;
}

.footer {
    grid-column-start: 3;
    grid-row-start: 4;
}

.field {
    padding: 5px;
}