@media screen and (max-width: 600px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
  
  a {
    color: #3b7adf;
  }
  
  a:hover {
    text-decoration: underline;
    color: #3b7adf;
  }

  .navbar-item:hover {
    background: transparent;
    color: white;
    text-decoration: none;
  }
  
  .navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .navbar-list-item {
    float: right;
    display: inline;
  }

  a:hover {
    text-decoration: none;
  }

  a {
    text-align: center;
    text-decoration: none;
  }

  .navbar {
    position: relative;
    font-size: 17px;
    padding-top: 13px;
  }

  .navbar-login{
    float: left;
    /* width: 10vw; */
  }

  .navbarContainer {
    background: #91785D;
    height: 55px;

    align-items: center;
    box-shadow: 0 1px 8px #ddd;
  }
  
  .navbar-item {
    color: #A7CDBD;
    padding: 25px;
  }