  a {
    color: #3b7adf;
  }
  
  a:hover {
    text-decoration: underline;
    color: #3b7adf;
  }
  
  .navbar-item:hover {
    background: transparent;
    color: white;
  }
  
  .navbar {
    padding: 10px;
  }
  
  .navbarContainer {
    background: #91785D;
    height: 8vw;
    width: 100vw;
    display: flex; 
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 1px 8px #ddd;
  }

  .is-left {
      margin-right: auto; 
  }
  
  .navbar-item {
    color: #A7CDBD;
    padding: 25px;
  }