.results-card {
    background-color: #869D7A;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
    color: #2c2c2c;
    width: 50%;
    /* position: relative; */
    /* left: 25%; */
    border-radius: 25px;
    padding: 10px;
    margin: 25px;
  }
  
  .search-result-siteName{
    font-size: 20px;
    color: black;
  }

  